body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;

    

    background: #7D6D61;
    
}

a {
    text-decoration: none;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #FCFCFC;

}

a:hover {

    color:rgba(120, 153, 212, 0.53)
}

nav {
    
    width: 75%;
    height: 75px;
    background: rgba(0, 0, 0, 0.42);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 70%;
    height: 30px;
    list-style-type: none;

}

h1, h2, h3, h4, h5, h6{

    align-self: flex-start;
    height: 81px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 81px;
    color: #FCFCFC;
}

h2 {

    width: 247px;
    height: 45px;
    font-size: 35.5011px;
    line-height: 45px;

}

table{
    border-collapse: collapse;
    align-self: flex-start;
    width: 1400px;
    filter: drop-shadow(-13px 22px 4px rgba(0, 0, 0, 0.25));

}

caption {
    text-align: left;
    height: 60px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;

    color: #FCFCFC;
}

thead {

    box-sizing: border-box;
    background: rgba(120, 153, 212, 0.53);
    border: 2px solid #FCFCFC;

}

th{
    padding: 0;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FCFCFC;

}

tbody{
    background: #000000;
}

tr:nth-child(even){

    background: linear-gradient(0deg, rgba(125, 109, 97, 0.2), rgba(125, 109, 97, 0.2)), #000000;
    background-blend-mode: normal, overlay;

}

td{
    text-align: center;
    padding: 5px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #FCFCFC;
}

td a{
    text-decoration: none;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #FCFCFC;
} 

td a:hover{

    color:rgba(120, 153, 212, 0.53)
}

td.duree{

    text-align: center;
}

div.description{
    margin-top: 15px;
    width: 1323px;
    background: #000000;
}

div.description#stagiaire{

    align-self: flex-start;
}

div.description p{

    padding: 15px;
    margin: 0px;    

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: #FCFCFC;
}

div.description p.formateur{

    margin-top: 20px;
    margin-bottom: 20px;
    
}

table.session_description{

    width: 659px;
}



table.session_description_right{

    width: 659px;
}

div.tables_description{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

label{

    text-decoration: none;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #FCFCFC;
}

i.fa-edit{


}
