{% extends 'base.html.twig' %}

{% block title %}List de catégories{% endblock %}

{% block body %}
    <h1>Catégories</h1>

    {% for categorie in categories %}

    <p><a href="{{path ('show_categorie', {id: categorie.id})}}">{{categorie}}</a></p>
    <br>
        
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        
        <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\CategorieCrudController')
        .setAction('new')
        }}">Ajouter une nouvelle catégorie</i> </a> 

        {% endif %}
{% endblock %}
