{% extends 'base.html.twig' %}

{% block title %}List de catégories{% endblock %}

{% block body %}
    <h1>Catégories</h1>

    {% for categorie in categories %}

    <p>{{categorie}}</p>
    <br>
        
    {% endfor %}
{% endblock %}
