{% extends 'base.html.twig' %}

{% block title %}{{categorie}}{% endblock %}

{% block body %}
    <h1>{{categorie}}</h1>

    <table>
        <thead>
        <th>Modules</th>
        </thead>
        <tbody>
    

    {% for cours in categorie.cours %}
        <tr>
            <td>{{cours}}</td>
        </tr>
    
        
    {% endfor %}
        </tbody>
    </table>

    <br>

    {% if is_granted('ROLE_ADMIN') %}
        
        <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\CoursCrudController')
        .setAction('new')
        }}">Ajouter un nouveau module</i> </a> 

        {% endif %}

{% endblock %}
